// Fonts
$font_main: 'Raleway', sans-serif;
$font_accent: 'Playfair Display', serif;
$font_secondary: 'Roboto', sans-serif;

// Colors
$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$footer_bg: #2D343C;
$placeholder: #BEBEBE;
$privacy: #E7E7E7;

// Media
$tablet: 959px;